@charset "UTF-8";

/*  
    ===============
    PALETA DE CORES
    ===============
*/

:root {
    --cor1: #032432;
    --cor2: #054E6C;
    --cor3: #066A97;
    --cor4: #1B7AA2;
    --cor5: #ABD7E8;
    --cor6: #052E40;
    --cor7: #105775;
    --cor8: #066A94;
    --cor9: #b5b5b6;
    --cor10: #c3eeff;
    --cor11: #D2E7EF;
    --cor12: #DEF5FF;
}

/*  
    ==========
    FULL RESET
    ==========
*/

* {
    padding: 0;
    margin: 0;
}

/*  
    ==============
    GLOBAL CONFIG
    ==============
*/

html, body {
    scroll-behavior: smooth;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font: normal normal 1.1em Arial, Helvetica, sans-serif;
    text-align: justify;
    overflow-x: hidden;
}

a {
    text-decoration: none; 
    color: white;
}

a:hover {
    text-decoration: underline;
}

h1 {
    color: var(--cor3);
}

p {
    text-indent: 30px;
}

img {
    border-radius: 20px;
}

#inicio,
#pesquisa,
#huawai,
#coordenadores,
#inscrevase {
    scroll-margin-top: 100px;
}

/*  
    ===========
    STYLE GROUP
    ===========
*/

.frase_header,
.footer {
    color: white;
}

.contato_container_nome,
.contato_container_cargo {
    color: var(--cor1);
}

/*  
    =========
    CODE FLOW
    =========
*/

.separador {
    margin: auto;
    width: 1000px;
    height: 2px;
    border: none;
    background-color: var(--cor10);
}

.cabecalho {
    color: white;
    background-image: radial-gradient(ellipse, var(--cor2) 50%, #04394e);
    padding: 90px;
}

.frase_imagem {
    /* Flexbox */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.frase_header {
    width: 500px;
    text-align: center;
    font-size: 52px;
    margin-left: 10%;
}

.imagem_cabecalho {
    width: 40%;
    display: block;
    margin-right: 10%;
}

.navegacao {
    position: sticky;
    top: 0;
    text-align: center;
  
    /*background-color: var(--cor12);*/
    background-image: linear-gradient(to bottom, #c3eeff 20%, var(--cor11));
    padding: 16px;

    /* Flexbox */

    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 130px;
}

.botao_navegacao {
    color: var(--cor4);
    font-size: 20px;
    font-weight: bold;
    align-content: center;

    /* Flexbox */
    flex: 0 0 auto;
}

.botao_navegacao[href="#pesquisa"] {
    /* Flexbox */
    flex-basis: 190px;
}

.logo_nav {
    position: fixed;
    top: 5px;
    left: 20px;
    width: 100px;
    border-radius: 0;
}

.painel_transparente {
    max-width: 1500px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;

    /* Flexbox */
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 50px;
}

.imagem_painel_transparente {
    border-radius: 20px;
}

.texto_painel_transparente {
    padding: 1%;

    /* Flexbox */
    display: flex;
    flex-direction: column;
    padding: 1%;
    gap: 4%;
}

.paragrafo_texto_transparente {
    font-size: 1.25rem;
    gap: 20px;

}

.texto_painel_transparente > h1 {
    font-size: 2em;
    text-align: center;
    color: var(--cor3);
}

.texto_painel_transparente span {
  background: linear-gradient(to bottom, var(--cor3) 40%, var(--cor5));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.texto_painel_transparente > p {
    font-size: 1.2em;
    line-height: 1.5em;
}

.sessao_huawai {
    background-color: #dcf4ff;
    width: 100vw;
}

.huawai_conteudo {
    max-width: 1500px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px 0;

    /* Flexbox */
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 50px;
}

.huawai_textos h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 30px;
}

.huawai_textos a {
    background-image: linear-gradient(to bottom, #902227, #EE2429, #F8A47B);
    color: transparent;
    background-clip: text;
}

.huawai_textos p {
    font-size: 1.2em;
    line-height: 1.5em;
}

.sessao_china {
    max-width: 1500px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 30px 0;

    /* Flexbox */
    display: flex;
    flex-flow: row-reverse nowrap;
    align-items: center;
    gap: 50px;
}

.china_conteudo h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 30px;
}

.china_conteudo p {
    font-size: 1.2em;
    line-height: 1.5em;
}

.painel_fundo_azul {
    background-color: var(--cor12);
    margin-top: 40px;
    padding: 1%;
    box-shadow: 0px 1px 5px var(--cor9);

    /* Flexbox */
    display: flex;
}

.texto_painel_fundo_azul {
    font-size: 1.2em;
    padding: 1%;

    /* Flexbox */
    display: flex;
    flex-direction: column;
    gap: 4%;
    margin-left: 8%;
}

.imagem_painel_azul {
    width: 400px;
    height: 400px;
    margin-right: 10%;
    /* Flexbox */
    flex: 1 0 auto;
}

.imagem_pesquisa {
    display: block;
    margin: auto;
    width: 235px;
    height: 200px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.sessao_pesquisa {
    margin: 50px 20px;
}

.pesquisa_titulo {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2em;
}

.conjunto_pesquisa {
    /* Flexbox */
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.pesquisa_card {
    border-radius: 20px;
    padding: 20px ;
    background-color: var(--cor12);
    height: 480px;
    text-align: start;

    /* Flexbox */
    flex: 0 1 200px;
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
}

.pesquisa_card  h3 {
    text-align: center;
}

.botao_card {
    width: 154px;
    font-size: 16px;
    text-align: center;
    color: white;
    background-color: var(--cor8);
    padding: 14px 0;
    border-radius: 20px;
    font-weight:600;
    font-style: italic;
}

.inscreva-se {
    background-color: var(--cor4);
    padding: 60px;

    /* Flexbox */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto_junte_se {
    width: 700px;
    text-align: center;
    color: white;

    /* Flexbox */
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.texto_junte_se h1 {
    color: white;
    font-size: 2em;
}

.botao_inscreva-se {
    font-size: 1.625rem;
    font-weight: 400;
    text-align: center;
    border-radius: 50px;
    color: var(--cor6);
    background-color: white;
    border: 3px solid white;
    width: 306px;
    padding: 10px 0;
    margin-top: 4%;
}

.botao_inscreva-se:hover {
    text-decoration: none;
    color: white;
    background-color: var(--cor2);
    transition: background-color .2s ease-in-out, color .2s ease-in-out;
}

.sessao_contato {
    padding: 5vh;
    background-color: var(--cor7);
}

.contato_container {
    /* Flexbox */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.contato_item {
    background-color: var(--cor5);
    border-radius: 20px;
    text-align: center;
    padding: 20px;

    /* Flexbox */
    flex: 0 0 250px;
}

.contato_container_imagem {
    border-radius: 50%;
}

.contato_container_cargo {
    font-style: italic;
}

.footer {
    background-color: var(--cor1);
    text-align: center;
    padding: 10px;
    font-size: 0.8em;
}

footer a:hover {
        color: var(--cor10);
}  

@media (max-width: 1300px) {

    .navegacao {
        padding: 2rem;
        gap: 40px;
    }

    .cabecalho {
        height: 64%;
    }

    .frase_imagem {
        flex-direction: column-reverse;
    }
    
    .frase_header {
        font-size: 2.25rem;
        margin: 2%;
    }

    .imagem_cabecalho {
        width: 75%;
        margin: 2%;
    }

    .painel_transparente {
        flex-direction: column;
    }

    .imagem_painel_transparente {
        width: 70%;
        height: 70%;
        margin-left: 8%;
    }
    
    .texto_painel_transparente {
        margin: 2%;
        gap: 20px;
    }
    
    .texto_painel_transparente h1 {
        font-size: 32px;
    }

    .area_pesquisa {
        flex-direction: column;
    }

    .conjunto_pesquisa {
        flex-direction: column;
        margin: 8%;
    }

    .painel_fundo_azul {
        flex-direction: column-reverse;
    }

    .texto_painel_fundo_azul {
        margin: 2%;
    }

    .texto_painel_fundo_azul h1 {
        font-size: 32px;
    }

    .imagem_painel_azul {
        width: 300px;
        height: 300px;
        margin: auto;
    }

     .texto_junte_se h2 {
        width: 600px;
        margin: auto;
    }

    .contato_container {
        gap: 24px;
        margin: 4%;
    }

    /* Sessao huawei */

    .imagem_huawei {
        width: 90%;
    }

    .huawai_conteudo {
        flex-direction: column-reverse;
    }

    .huawai_textos {
        margin: 2%;
    }

    /* China conteudo */

    .sessao_china {
        flex-direction: column-reverse;
    }

    .imagem_china {
        width: 90%;
    }

    .china_conteudo {
        margin: 2%;
    }
    
    
}



@media (max-width: 600px) {

    .logo_nav {
        margin-top: 3%;
    }

    .imagem_cabecalho {
        width: 150%;
    }

    .texto_junte_se h1 {
        width: 230px;
        margin: auto;
    }

    .texto_junte_se h2 {
        width: 350px;
        margin: auto;
    }
    
}

@media (max-width: 500px) {
    .pesquisa_card {
        width: 90%;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}
