@charset "UTF-8";

/*  
    ===============
    PALETA DE CORES
    ===============
*/

:root {
    --azul-escuro: #032432;   /* antes cor1 */
    --azul-medio: #066A97;    /* antes cor3 */
    --azul-claro: #1B7AA2;    /* antes cor4 */
    --azul-claro2: #ABD7E8;   /* antes cor5 */
    --azul-pastel: #DEF5FF;   /* antes cor12 */
}

/*  
    ==========
    FULL RESET
    ==========
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  
    ==============
    GLOBAL CONFIG
    ==============
*/

html, body {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    font: normal normal 1.1em Arial, Helvetica, sans-serif;
    text-align: justify;
    overflow-x: hidden;
}

a {
    text-decoration: none; 
    color: white;
}

a:hover {
    text-decoration: underline;
}

h1 {
    color: var(--azul-medio);
}

p {
    text-indent: 30px;
}

img {
    border-radius: 20px;
}

#inicio,
#pesquisa,
#huawai,
#coordenadores,
#inscrevase {
    scroll-margin-top: 100px;
}

/*  
    ===========
    STYLE GROUP
    ===========
*/

.frase_header,
.footer {
    color: white;
}

.contato_container_nome,
.contato_container_cargo {
    color: var(--azul-escuro);
}

/*  
    =========
    CODE FLOW
    =========
*/

.separador {
    margin: auto;
    max-width: 1000px;
    height: 2px;
    border: none;
    background-color: #c3eeff;
}

.cabecalho {
    color: white;
    background-image: radial-gradient(ellipse, #054E6C 50%, #04394e);
    padding: 90px;
}

.frase_imagem {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.frase_header {
    width: 500px;
    text-align: center;
    font-size: 52px;
    margin-left: 10%;
}

.imagem_cabecalho {
    width: 40%;
    display: block;
    margin-right: 10%;
}

.navegacao {
    position: sticky;
    top: 0;
    text-align: center;
    background-image: linear-gradient(to bottom, #c3eeff 20%, #D2E7EF);
    padding: 16px;

    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 130px;
}

.botao_navegacao {
    color: var(--azul-claro);
    font-size: 20px;
    font-weight: bold;
    align-content: center;
    flex: 0 0 auto;
}

.botao_navegacao[href="#pesquisa"] {
    flex-basis: 190px;
}

.logo_nav {
    position: fixed;
    top: 5px;
    left: 20px;
    width: 100px;
    border-radius: 0;
}

.painel_transparente {
    max-width: 1500px;
    margin: 50px auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 50px;
}

.texto_painel_transparente {
    display: flex;
    flex-direction: column;
    padding: 1%;
    gap: 4%;
}

.paragrafo_texto_transparente {
    font-size: 1.25rem;
}

.texto_painel_transparente > h1 {
    font-size: 2em;
    text-align: center;
    color: var(--azul-medio);
}

.texto_painel_transparente span {
    background: linear-gradient(to bottom, var(--azul-medio) 40%, var(--azul-claro2));
    -webkit-background-clip: text;
    color: transparent;
}

.texto_painel_transparente > p {
    font-size: 1.2em;
    line-height: 1.5em;
}

.sessao_huawai {
    background-color: #dcf4ff;
    width: 100vw;
}

.huawai_conteudo {
    max-width: 1500px;
    margin: 50px auto;
    padding: 30px 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 50px;
}

.huawai_textos h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 30px;
}

.huawai_textos a {
    background-image: linear-gradient(to bottom, #902227, #EE2429, #F8A47B);
    color: transparent;
    background-clip: text;
}

.huawai_textos p {
    font-size: 1.2em;
    line-height: 1.5em;
}

.sessao_china {
    max-width: 1500px;
    margin: 100px auto;
    padding: 30px 0;
    display: flex;
    flex-flow: row-reverse nowrap;
    align-items: center;
    gap: 50px;
}

.china_conteudo h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 30px;
}

.china_conteudo p {
    font-size: 1.2em;
    line-height: 1.5em;
}

.painel_fundo_azul {
    background-color: var(--azul-pastel);
    margin-top: 40px;
    padding: 1%;
    box-shadow: 0px 1px 5px #b5b5b6;
    display: flex;
}

.texto_painel_fundo_azul {
    padding: 1%;
    display: flex;
    flex-direction: column;
    gap: 4%;
    margin-left: 6%;
}

.imagem_painel_azul {
    width: 400px;
    height: 400px;
    flex: 1 0 auto;
}

.imagem_pesquisa {
    display: block;
    margin: auto;
    width: 235px;
    height: 200px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.sessao_pesquisa {
    margin: 50px 20px;
}

.pesquisa_titulo {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2em;
}

.conjunto_pesquisa {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.pesquisa_card {
    border-radius: 20px;
    padding: 20px ;
    background-color: var(--azul-pastel);
    height: 480px;
    text-align: start;
    flex: 0 1 200px;
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
}

.pesquisa_card  h3 {
    text-align: center;
}

.botao_card {
    width: 154px;
    font-size: 16px;
    text-align: center;
    color: white;
    background-color: #066A94;
    padding: 14px 0;
    border-radius: 20px;
    font-weight:600;
    font-style: italic;
}

.inscreva-se {
    background-color: var(--azul-claro);
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto_junte_se {
    width: 700px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.texto_junte_se h1 {
    color: white;
    font-size: 2em;
}

.botao_inscreva-se {
    font-size: 1.625rem;
    font-weight: 400;
    text-align: center;
    border-radius: 50px;
    color: #052E40;
    background-color: white;
    border: 3px solid white;
    width: 306px;
    padding: 10px 0;
    margin-top: 4%;
}

.botao_inscreva-se:hover {
    text-decoration: none;
    color: white;
    background-color: #054E6C;
    transition: background-color .2s ease-in-out, color .2s ease-in-out;
}

.sessao_contato {
    padding: 5vh;
    background-color: #105775;
}

.contato_container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.contato_item {
    background-color: var(--azul-claro2);
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    flex: 0 0 250px;
}

.contato_container_imagem {
    border-radius: 50%;
}

.contato_container_cargo {
    font-style: italic;
}

.footer {
    background-color: var(--azul-escuro);
    text-align: center;
    padding: 10px;
    font-size: 0.8em;
}
